



.title_ {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background: var(--global-color-bg);
    border-radius: 1em;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    width: 98%;
}
.actor_movies {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
