



.title_ {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background: #1B1B1B;
    border-radius: 1em;
    box-sizing: border-box;
    padding: 10px;

}
.actor_movies {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
