RewriteEngine On

# 1. Redirect /file.html to /file (301 SEO redirect)
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,R=301,L]

# 2. Serve /file.html when /file is requested
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L,QSA]